<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <h3>Extra Toppings</h3>
    <form method="post" action="/on-to-salad">
		<% extra_toppings.each do |key, value| %>
    <div>
      <input type="radio" name="extra_toppings" value='<%= key %>, <%= value %>'>
      <%= "$#{value} #{key}" %>
          <% if key == "none" %>
              <%= "You don't want any" %>
        <% elsif key.downcase.include? "double"%>
          <img src="/img/<%=key.downcase.gsub("double ", "")%>.jpg">
        <% else %>
          <img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
        <% end %>
			   </div>
		   <% end %>

    <input type="submit" value="Next to Salads">
    </form>

    <br><br>

    <form method="post" action="/back-to-sauces">
        <input type="submit" value="Go back to Sauces">
    </form>

</body>
</html>
