<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <h3>Meats</h3>
    <form method="post" action="/on-to-veggies">
	    <% meats.each do |key, value| %>
	    	<input type="radio" name="meats" value='<%= key %>, <%= value %>' required>
	    		<div>
                        <% if key == "Chicken" %>
                            <%= "#{key} is #{value} dollars" %>
                            <img src="/img/chickenTopping.jpg">
                        <% if key == "none" %>
                            <%= "You don't want any" %> 
                        <% elsif key == "Pepperoni" %>
                            <%= "#{key} is #{value} dollars" %>
                            <img src="/img/pepperoni.jpg">
                        <% elsif key == "Sausage"%>
                            <%= "#{key} is #{value} dollars" %>
                            <img src="/img/sausage.jpg">
                        <% else %>
                            <%= "#{key} is #{value} dollars" %>
                            <img src="/img/bacon.jpg">
                        <% end %>
                    </div>
	   	<% end %>
        <br><br>
    <input type="submit" value="Next to veggies">
    </form>

    <br><br>
    <form method="post" action="/back-to-pizza-crust">
        <input type="submit" value="Go back to Pizza Crust">
    </form>

</body>
</html>