<!DOCTYPE html>
<html>
<head>
    <!-- <script type="text/javascript" src="js/meatCheckboxChecker.js"></script> -->
    <title></title>
</head>
<body>

    <h3>Meats</h3>
    <form method="post" action="/on-to-veggies">
      <table>
      <% meats.each do |key, value| %>
	    		<tr>
            <td>
              <!-- <input type="radio" name="selection" value='<%= key %>!!<%= value %>'> -->
              <input type="radio" name="selection" value='<%= key %>, <%= value %>' required>
              <%= "$#{value} #{key}" %>
            </td>
            <td>
              <% if key == "none" %>
                You don't want any
              <% else %>
                <img src="/img/<%=key.downcase.gsub(" ", "_")%>.jpg">
              <% end %>
            </td>
          </tr>
	   	<% end %>
    </table>
        <br><br>
    <input type="submit" value="Next to veggies" onclick="meatCheckboxChecker()">
    </form>

    <br><br>
    <a href="/crust"><button>Go back to Pizza Crust</button>
</body>
</html>
