<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
</head>
<body>
	<form method="post" action="/on-to-meats">
		<h3>Crust Sizes</h3>
        	<% crust.each do |key, value| %>
     			<input type="radio" name="crust" value='<%= key %>, <%= value %>' required>
     				<div>
     					<% if key == "Pan crust" %>
                			<%= "the #{key} is #{value} dollars" %>
                			<img src="/img/PanCrust.jpg">
                		<% elsif key == "Stuffed crust" %>
                			<%= "the #{key} is #{value} dollars" %>
                			<img src="/img/cheeseStuffedCrust.jpg">
                		<% else %>
                			<%= "the #{key} is #{value} dollars" %>
                			<img src="/img/baconCheeseStuffedCrust.jpg">
                		<% end %>
                	</div>
                <br>
        	    <% end %>
		
    	<input type="submit" value="On to meats">
	</form>
    
	<br><br>
    <input type="button" onclick="location.href='/size';" value="Go back to Pizza Sizes" />

</body>
</html>